@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);








body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #bfcecb;
  border-color: #bfcecb;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #94ada8;
  border-color: #94ada8;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #94ada8 !important;
  border-color: #94ada8 !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #85a29c;
  color: #85a29c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #bfcecb;
  border-color: #bfcecb;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #bfcecb !important;
  border-color: #bfcecb !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
#header4-g .mbr-section-title {
  font-size: 48px;
}
#ext_menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-0 .navbar-toggler {
  color: #efefef;
}
#ext_menu-0 .close-icon::before,
#ext_menu-0 .close-icon::after {
  background-color: #efefef;
}
#ext_menu-0 .link,
#ext_menu-0 .dropdown-item {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-0 .link {
  font-size: 0.95rem;
}
#ext_menu-0 .dropdown-item,
#ext_menu-0 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-0 .link:hover,
#ext_menu-0 .dropdown-item:hover,
#ext_menu-0 .link:focus,
#ext_menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-0 .nav-dropdown-sm .link:focus,
#ext_menu-0 .nav-dropdown-sm .link:hover,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-0 .navbar,
#ext_menu-0 .nav-dropdown-sm,
#ext_menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-0 .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-0 .bg-color.transparent.opened .link:hover,
#ext_menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-0 .link[aria-expanded="true"],
#ext_menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#features4-c .card-subtitle {
  color: #bcbcbc;
  text-align: center;
}
#features4-c .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#features4-c P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#content5-e .mbr-section-title,
#content5-e p {
  color: #fff;
}
#content5-e .mbr-section-title {
  font-size: 36px;
  color: #553982;
}
#content5-e P {
  color: #000000;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#contacts2-d P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}





#header2-l .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-l .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#content5-n .mbr-section-title,
#content5-n p {
  color: #fff;
}
#content5-n P {
  font-size: 18px;
  color: #2b0680;
}
#content5-n .mbr-section-title {
  color: #553982;
  font-size: 32px;
}
#content5-n .mbr-section-title DIV {
  color: #475577;
}
#msg-box5-o DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-o SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-o H3 {
  color: #475577;
  font-size: 30px;
}
#msg-box5-p H3 {
  font-size: 30px;
}
#msg-box5-p DIV {
  color: #475577;
  font-size: 30px;
}
#slider3-1e H2 {
  font-size: 25px;
  text-align: left;
  color: #efefef;
}
#slider3-1e P {
  text-align: left;
  font-size: 20px;
}
#slider3-1e SPAN {
  text-align: left;
  font-size: 23px;
}
#slider3-t H2 {
  color: #ffffff;
  font-size: 48px;
}
#slider3-t DIV {
  color: #ffffff;
}
#features3-1i H4 {
  color: #475577;
}
#features3-1i P {
  color: #2b0680;
}
#ext_menu-h .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-h .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-h .navbar-toggler {
  color: #ffffff;
}
#ext_menu-h .close-icon::before,
#ext_menu-h .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-h .link,
#ext_menu-h .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-h .link {
  font-size: 1.05rem;
}
#ext_menu-h .dropdown-item,
#ext_menu-h .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-h .link:hover,
#ext_menu-h .dropdown-item:hover,
#ext_menu-h .link:focus,
#ext_menu-h .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-menu {
  background: #3e295f;
}
#ext_menu-h .nav-dropdown-sm .link:focus,
#ext_menu-h .nav-dropdown-sm .link:hover,
#ext_menu-h .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-h .nav-dropdown-sm .dropdown-item:hover {
  background: #4e3477!important;
}
#ext_menu-h .navbar,
#ext_menu-h .nav-dropdown-sm,
#ext_menu-h .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-h .nav-dropdown-sm .dropdown-menu {
  background: #553982;
}
#ext_menu-h .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-h .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-h .bg-color.transparent.opened .link:hover,
#ext_menu-h .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-h .link[aria-expanded="true"],
#ext_menu-h .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-i P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}



#header2-w .mbr-section-text {
  color: #2b0680;
}
#header2-w .mbr-section-title {
  color: #475577;
}
#features3-x H4 {
  color: #475577;
}
#features3-x P {
  color: #2b0680;
}
#features3-y P {
  color: #2b0680;
}
#features3-y H4 {
  color: #475577;
}
#msg-box5-z H3 {
  color: #475577;
}
#msg-box5-z P {
  color: #2b0680;
}
#msg-box5-10 H3 {
  font-size: 36px;
  color: #475577;
}
#msg-box5-10 P {
  color: #2b0680;
}
#ext_menu-u .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-u .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-u .navbar-toggler {
  color: #ffffff;
}
#ext_menu-u .close-icon::before,
#ext_menu-u .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-u .link,
#ext_menu-u .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-u .link {
  font-size: 1.05rem;
}
#ext_menu-u .dropdown-item,
#ext_menu-u .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-u .link:hover,
#ext_menu-u .dropdown-item:hover,
#ext_menu-u .link:focus,
#ext_menu-u .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-u .link[aria-expanded="true"],
#ext_menu-u .dropdown-menu {
  background: #3e295f;
}
#ext_menu-u .nav-dropdown-sm .link:focus,
#ext_menu-u .nav-dropdown-sm .link:hover,
#ext_menu-u .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-u .nav-dropdown-sm .dropdown-item:hover {
  background: #4e3477!important;
}
#ext_menu-u .navbar,
#ext_menu-u .nav-dropdown-sm,
#ext_menu-u .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-u .nav-dropdown-sm .dropdown-menu {
  background: #553982;
}
#ext_menu-u .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-u .bg-color.transparent.opened .link:hover,
#ext_menu-u .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-u .link[aria-expanded="true"],
#ext_menu-u .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-v P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}






#header2-1l .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-1l .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#content5-1m .mbr-section-title,
#content5-1m p {
  color: #fff;
}
#content5-1m P {
  font-size: 18px;
  color: #2b0680;
  font-family: 'Open Sans', sans-serif;
}
#content5-1m .mbr-section-title {
  color: #553982;
}
#content5-1m .mbr-section-title DIV {
  color: #475577;
}
#msg-box5-1n DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-1n SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-1n H3 {
  color: #475577;
  text-align: right;
}
#msg-box5-1o H3 {
  font-size: 36px;
}
#msg-box5-1o DIV {
  color: #475577;
}
#msg-box5-1z H3 {
  font-size: 36px;
}
#msg-box5-1z DIV {
  color: #475577;
}
#features3-1t H4 {
  color: #475577;
}
#features3-1t P {
  color: #2b0680;
}
#features3-1u H4 {
  color: #475577;
}
#features3-1u P {
  color: #2b0680;
}
#slider3-24 H2 {
  color: #475577;
  font-size: 36px;
}
#slider3-24 P {
  text-align: right;
  font-size: 30px;
}
#slider3-26 H2 {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#slider3-26 SPAN {
  text-align: left;
  font-size: 25px;
}
#features3-25 H4 {
  color: #475577;
}
#features3-25 P {
  color: #2b0680;
}
#ext_menu-1w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-1w .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-1w .navbar-toggler {
  color: #efefef;
}
#ext_menu-1w .close-icon::before,
#ext_menu-1w .close-icon::after {
  background-color: #efefef;
}
#ext_menu-1w .link,
#ext_menu-1w .dropdown-item {
  color: #efefef;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-1w .link {
  font-size: 0.95rem;
}
#ext_menu-1w .dropdown-item,
#ext_menu-1w .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-1w .link:hover,
#ext_menu-1w .dropdown-item:hover,
#ext_menu-1w .link:focus,
#ext_menu-1w .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-1w .link[aria-expanded="true"],
#ext_menu-1w .dropdown-menu {
  background: #1f5087;
}
#ext_menu-1w .nav-dropdown-sm .link:focus,
#ext_menu-1w .nav-dropdown-sm .link:hover,
#ext_menu-1w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-1w .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-1w .navbar,
#ext_menu-1w .nav-dropdown-sm,
#ext_menu-1w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-1w .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-1w .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-1w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-1w .bg-color.transparent.opened .link:hover,
#ext_menu-1w .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-1w .link[aria-expanded="true"],
#ext_menu-1w .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-1x P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}






#header2-27 .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-27 .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#content5-28 .mbr-section-title,
#content5-28 p {
  color: #fff;
}
#content5-28 P {
  font-size: 18px;
  color: #2b0680;
  font-family: 'Open Sans', sans-serif;
}
#content5-28 .mbr-section-title {
  color: #553982;
}
#content5-28 .mbr-section-title DIV {
  color: #475577;
}
#msg-box5-29 DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-29 SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-29 H3 {
  color: #475577;
  text-align: right;
}
#msg-box5-2a H3 {
  font-size: 36px;
}
#msg-box5-2a DIV {
  color: #475577;
}
#msg-box5-2b H3 {
  font-size: 36px;
}
#msg-box5-2b DIV {
  color: #475577;
}
#features3-2c H4 {
  color: #475577;
}
#features3-2c P {
  color: #2b0680;
}
#features3-2d H4 {
  color: #475577;
}
#features3-2d P {
  color: #2b0680;
}
#slider3-2f H2 {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#slider3-2f SPAN {
  text-align: right;
  font-size: 25px;
}
#slider3-2k H2 {
  color: #553982;
  font-size: 30px;
  text-align: right;
}
#slider3-2k SPAN {
  color: #ffffff;
}
#features3-2g H4 {
  color: #475577;
}
#features3-2g P {
  color: #2b0680;
}
#ext_menu-2i .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2i .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-2i .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2i .close-icon::before,
#ext_menu-2i .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2i .link,
#ext_menu-2i .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-2i .link {
  font-size: 1.05rem;
}
#ext_menu-2i .dropdown-item,
#ext_menu-2i .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-2i .link:hover,
#ext_menu-2i .dropdown-item:hover,
#ext_menu-2i .link:focus,
#ext_menu-2i .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-menu {
  background: #3e295f;
}
#ext_menu-2i .nav-dropdown-sm .link:focus,
#ext_menu-2i .nav-dropdown-sm .link:hover,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2i .nav-dropdown-sm .dropdown-item:hover {
  background: #4e3477!important;
}
#ext_menu-2i .navbar,
#ext_menu-2i .nav-dropdown-sm,
#ext_menu-2i .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2i .nav-dropdown-sm .dropdown-menu {
  background: #553982;
}
#ext_menu-2i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2i .bg-color.transparent.opened .link:hover,
#ext_menu-2i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2i .link[aria-expanded="true"],
#ext_menu-2i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-2j P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}






#header2-2l .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-2l .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#content5-2m .mbr-section-title,
#content5-2m p {
  color: #fff;
}
#content5-2m P {
  font-size: 18px;
  color: #2b0680;
  font-family: 'Open Sans', sans-serif;
}
#content5-2m .mbr-section-title {
  color: #553982;
}
#content5-2m .mbr-section-title DIV {
  color: #475577;
}
#msg-box5-2n DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-2n SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-2n H3 {
  color: #475577;
  text-align: right;
}
#msg-box5-2o H3 {
  font-size: 36px;
}
#msg-box5-2o DIV {
  color: #475577;
}
#msg-box5-2p H3 {
  font-size: 36px;
}
#msg-box5-2p DIV {
  color: #475577;
}
#features3-2q H4 {
  color: #475577;
}
#features3-2q P {
  color: #2b0680;
}
#features3-2r H4 {
  color: #475577;
}
#features3-2r P {
  color: #2b0680;
}
#slider3-2s H2 {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#slider3-2s SPAN {
  text-align: right;
  font-size: 25px;
}
#slider3-2t H2 {
  color: #ffffff;
  font-size: 30px;
  text-align: right;
}
#slider3-2t SPAN {
  color: #ffffff;
}
#slider3-2t P {
  color: #475577;
}
#ext_menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-2w .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-2w .navbar-toggler {
  color: #ffffff;
}
#ext_menu-2w .close-icon::before,
#ext_menu-2w .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-2w .link,
#ext_menu-2w .dropdown-item {
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-2w .link {
  font-size: 1.05rem;
}
#ext_menu-2w .dropdown-item,
#ext_menu-2w .nav-dropdown-sm .link {
  font-size: 1.137rem;
}
#ext_menu-2w .link:hover,
#ext_menu-2w .dropdown-item:hover,
#ext_menu-2w .link:focus,
#ext_menu-2w .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-menu {
  background: #3e295f;
}
#ext_menu-2w .nav-dropdown-sm .link:focus,
#ext_menu-2w .nav-dropdown-sm .link:hover,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #4e3477!important;
}
#ext_menu-2w .navbar,
#ext_menu-2w .nav-dropdown-sm,
#ext_menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #553982;
}
#ext_menu-2w .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-2w .bg-color.transparent.opened .link:hover,
#ext_menu-2w .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-2w .link[aria-expanded="true"],
#ext_menu-2w .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-2x P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}






#header2-2y .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-2y .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#header2-2y .mbr-section-title SPAN {
  font-size: 36px;
}
#content5-2z .mbr-section-title,
#content5-2z p {
  color: #fff;
}
#content5-2z P {
  font-size: 18px;
  color: #2b0680;
  font-family: 'Open Sans', sans-serif;
}
#content5-2z .mbr-section-title {
  color: #475577;
  font-size: 36px;
}
#content5-2z .mbr-section-title DIV {
  color: #475577;
}
#content5-2z .mbr-section-title SPAN {
  color: #2b0680;
}
#msg-box5-30 DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-30 SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-30 H3 {
  color: #475577;
  text-align: right;
}
#msg-box5-31 H3 {
  font-size: 36px;
}
#msg-box5-31 DIV {
  color: #475577;
}
#msg-box5-32 H3 {
  font-size: 36px;
}
#msg-box5-32 DIV {
  color: #475577;
}
#features3-33 H4 {
  color: #475577;
}
#features3-33 P {
  color: #2b0680;
}
#features3-34 H4 {
  color: #475577;
}
#features3-34 P {
  color: #2b0680;
}
#slider3-36 H2 {
  color: #475577;
  font-size: 30px;
  text-align: right;
}
#slider3-36 SPAN {
  color: #ffffff;
}
#slider3-36 P {
  font-size: 24px;
  text-align: right;
}
#slider3-36 DIV {
  color: #475577;
}
#features3-37 H4 {
  color: #475577;
}
#features3-37 P {
  color: #2b0680;
  font-size: 15px;
}
#slider3-3g H2 {
  font-size: 46px;
  color: #475577;
}
#ext_menu-39 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-39 .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-39 .navbar-toggler {
  color: #efefef;
}
#ext_menu-39 .close-icon::before,
#ext_menu-39 .close-icon::after {
  background-color: #efefef;
}
#ext_menu-39 .link,
#ext_menu-39 .dropdown-item {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-39 .link {
  font-size: 0.95rem;
}
#ext_menu-39 .dropdown-item,
#ext_menu-39 .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-39 .link:hover,
#ext_menu-39 .dropdown-item:hover,
#ext_menu-39 .link:focus,
#ext_menu-39 .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-39 .link[aria-expanded="true"],
#ext_menu-39 .dropdown-menu {
  background: #1f5087;
}
#ext_menu-39 .nav-dropdown-sm .link:focus,
#ext_menu-39 .nav-dropdown-sm .link:hover,
#ext_menu-39 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-39 .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-39 .navbar,
#ext_menu-39 .nav-dropdown-sm,
#ext_menu-39 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-39 .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-39 .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-39 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-39 .bg-color.transparent.opened .link:hover,
#ext_menu-39 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-39 .link[aria-expanded="true"],
#ext_menu-39 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-3a P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}







#header2-3h .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-3h .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#header2-3h .mbr-section-title SPAN {
  font-size: 36px;
}
#content5-3i .mbr-section-title,
#content5-3i p {
  color: #fff;
}
#content5-3i P {
  font-size: 18px;
  color: #2b0680;
  font-family: 'Open Sans', sans-serif;
}
#content5-3i .mbr-section-title {
  color: #475577;
  font-size: 36px;
}
#content5-3i .mbr-section-title DIV {
  color: #475577;
}
#content5-3i .mbr-section-title SPAN {
  color: #2b0680;
}
#msg-box5-3j DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-3j SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-3j H3 {
  color: #475577;
  text-align: right;
}
#msg-box5-3k H3 {
  font-size: 36px;
}
#msg-box5-3k DIV {
  color: #475577;
}
#msg-box5-3l H3 {
  font-size: 36px;
}
#msg-box5-3l DIV {
  color: #475577;
}
#msg-box5-3x H3 {
  font-size: 36px;
}
#msg-box5-3x DIV {
  color: #475577;
}
#features3-3m H4 {
  color: #475577;
}
#features3-3m P {
  color: #2b0680;
}
#slider3-3u P {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#slider3-3u H2 {
  font-size: 32px;
  text-align: center;
}
#slider3-3u SPAN {
  text-align: center;
}
#features3-3p H4 {
  color: #475577;
}
#features3-3p P {
  color: #2b0680;
  font-size: 15px;
}
#features3-3y H4 {
  color: #475577;
}
#features3-3y P {
  color: #2b0680;
}
#features3-3z H4 {
  color: #475577;
}
#features3-3z P {
  color: #2b0680;
}
#ext_menu-3s .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3s .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-3s .navbar-toggler {
  color: #efefef;
}
#ext_menu-3s .close-icon::before,
#ext_menu-3s .close-icon::after {
  background-color: #efefef;
}
#ext_menu-3s .link,
#ext_menu-3s .dropdown-item {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-3s .link {
  font-size: 0.95rem;
}
#ext_menu-3s .dropdown-item,
#ext_menu-3s .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-3s .link:hover,
#ext_menu-3s .dropdown-item:hover,
#ext_menu-3s .link:focus,
#ext_menu-3s .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-3s .link[aria-expanded="true"],
#ext_menu-3s .dropdown-menu {
  background: #1b044f;
}
#ext_menu-3s .nav-dropdown-sm .link:focus,
#ext_menu-3s .nav-dropdown-sm .link:hover,
#ext_menu-3s .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3s .nav-dropdown-sm .dropdown-item:hover {
  background: #260571!important;
}
#ext_menu-3s .navbar,
#ext_menu-3s .nav-dropdown-sm,
#ext_menu-3s .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3s .nav-dropdown-sm .dropdown-menu {
  background: #2b0680;
}
#ext_menu-3s .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-3s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3s .bg-color.transparent.opened .link:hover,
#ext_menu-3s .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-3s .link[aria-expanded="true"],
#ext_menu-3s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-3t P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}






#header2-40 .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: right;
}
#header2-40 .mbr-section-text {
  color: #2b0680;
  text-align: right;
}
#header2-40 .mbr-section-title SPAN {
  font-size: 36px;
}
#content5-41 .mbr-section-title,
#content5-41 p {
  color: #fff;
}
#content5-41 P {
  font-size: 18px;
  color: #2b0680;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
#content5-41 .mbr-section-title {
  color: #475577;
  font-size: 36px;
  text-align: center;
}
#content5-41 .mbr-section-title DIV {
  color: #475577;
}
#content5-41 .mbr-section-title SPAN {
  color: #2b0680;
}
#msg-box5-42 DIV {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#msg-box5-42 SPAN {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}
#msg-box5-42 H3 {
  color: #475577;
  text-align: right;
}
#msg-box5-42 P {
  text-align: right;
}
#msg-box5-43 H3 {
  font-size: 36px;
}
#msg-box5-43 DIV {
  color: #475577;
}
#features3-46 H4 {
  color: #475577;
}
#features3-46 P {
  color: #2b0680;
}
#msg-box5-4m H3 {
  color: #475577;
  text-align: left;
}
#msg-box5-4m P {
  text-align: left;
  font-size: 20px;
  color: #2b0680;
}
#msg-box5-4m SPAN {
  font-size: 16px;
}
#msg-box5-4n DIV {
  color: #475577;
}
#msg-box5-4n P {
  color: #2b0680;
}
#features3-48 H4 {
  color: #475577;
}
#features3-48 P {
  color: #2b0680;
  font-size: 15px;
}
#features3-4b H4 {
  color: #475577;
}
#features3-4b P {
  color: #2b0680;
}
#features3-49 H4 {
  color: #475577;
}
#features3-49 P {
  color: #2b0680;
}
#msg-box5-4u H3 {
  color: #475577;
}
#msg-box5-4u P {
  color: #2b0680;
}
#features3-4q H4 {
  color: #475577;
}
#features3-4q P {
  color: #2b0680;
}
#features3-4r H4 {
  color: #475577;
}
#features3-4r P {
  color: #2b0680;
}
#ext_menu-4d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-4d .navbar-caption {
  color: #ffffff;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
}
#ext_menu-4d .navbar-toggler {
  color: #efefef;
}
#ext_menu-4d .close-icon::before,
#ext_menu-4d .close-icon::after {
  background-color: #efefef;
}
#ext_menu-4d .link,
#ext_menu-4d .dropdown-item {
  color: #efefef;
  font-family: 'Oxygen', sans-serif;
}
#ext_menu-4d .link {
  font-size: 0.95rem;
}
#ext_menu-4d .dropdown-item,
#ext_menu-4d .nav-dropdown-sm .link {
  font-size: 1.029rem;
}
#ext_menu-4d .link:hover,
#ext_menu-4d .dropdown-item:hover,
#ext_menu-4d .link:focus,
#ext_menu-4d .dropdown-item:focus {
  color: #c0a375;
}
#ext_menu-4d .link[aria-expanded="true"],
#ext_menu-4d .dropdown-menu {
  background: #1f5087;
}
#ext_menu-4d .nav-dropdown-sm .link:focus,
#ext_menu-4d .nav-dropdown-sm .link:hover,
#ext_menu-4d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-4d .nav-dropdown-sm .dropdown-item:hover {
  background: #2662a4!important;
}
#ext_menu-4d .navbar,
#ext_menu-4d .nav-dropdown-sm,
#ext_menu-4d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-4d .nav-dropdown-sm .dropdown-menu {
  background: #2969b0;
}
#ext_menu-4d .bg-color.transparent .link {
  color: #efefef;
  transition: none;
}
#ext_menu-4d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-4d .bg-color.transparent.opened .link:hover,
#ext_menu-4d .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#ext_menu-4d .link[aria-expanded="true"],
#ext_menu-4d .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#contacts2-4e P {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
